---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import TableOfContents from '@/components/TableOfContents.astro'
import Layout from '@/layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import { getEntry, render } from 'astro:content'

// Recover the about page content
const aboutEntry = await getEntry('about', 'index')

if (!aboutEntry) {
  throw new Error('About page content not found')
}

const { Content, headings } = await render(aboutEntry)

const structuredData = {
  '@context': 'https://schema.org',
  '@type': 'AboutPage',
  headline: aboutEntry.data.title || 'À propos',
  dateModified: aboutEntry.data.updatedDate || new Date().toISOString(),
  author: {
    '@type': 'Person',
    name: aboutEntry.data.name || 'Votre nom',
  },
  description: aboutEntry.data.description || 'Page à propos',
}

const currentUrl = Astro.url
---

<Layout canonicalUrl={currentUrl} isWide={true}>
  <PageHead slot="head" title={aboutEntry.data.title || 'À propos'} />
  <script
    type="application/ld+json"
    is:inline
    set:html={JSON.stringify(structuredData)}
  />
  
  <section
    class="grid grid-cols-[minmax(0px,1fr)_min(calc(var(--breakpoint-lg)-2rem),100%)_minmax(0px,1fr)] xl:grid-cols-[200px_minmax(0,1fr)_280px] gap-y-6 max-w-[calc(100vw-2rem)]"
  >   
    <div class="col-start-2">
      <Breadcrumbs
        items={[
          { label: 'À propos', href: '/about', icon: 'lucide:user' },
        ]}
      />
    </div>

    <section class="col-start-2 flex flex-col gap-y-6 text-start">
      <div class="flex flex-col">
        <div class="flex w-fit items-center gap-2 text-primary mb-4">
          <Icon name="lucide:star" class="h-4 w-4 text-yellow-500 animate-pulse" />
          <p class="shimmer word-spacing font-mono text-sm uppercase leading-none text-primary">
            {aboutEntry.data.subtitle || 'Qui suis-je ?'}
          </p>
        </div>
        
        <h1 class="mb-2 text-3xl leading-tight font-medium text-pretty sm:text-5xl font-custom text-foreground">
          {aboutEntry.data.title || 'À propos de moi'}
        </h1>

        {aboutEntry.data.description && (
          <p class="text-muted-foreground text-md max-w-2xl mt-3">
            {aboutEntry.data.description}
          </p>
        )}
      </div>
    </section>

    {aboutEntry.data.image && (
      <Image
        src={aboutEntry.data.image}
        alt={aboutEntry.data.title || 'À propos'}
        class="col-start-2 mb-8 h-[500px] rounded-3xl object-cover object-top"
        fetchpriority="high"
        loading="eager"
        width={1200}
        height={800}
        sizes="(max-width: 768px) 100vw, (max-width: 1200px) 80vw, 1200px"
      />
    )}

    {headings.length > 0 && (
      <div class="col-start-2 xl:col-start-1">
        <TableOfContents headings={headings} />
      </div>
    )}
    
    <article class="prose col-start-2 max-w-none" aria-label="à propos">
      <Content />
    </article>

      <aside class="group col-start-2 rounded-xl border p-4 m-4 xl:sticky xl:top-26 xl:col-start-3 xl:mr-auto xl:ml-8 xl:h-[calc(100vh-5rem)] xl:max-w-fit xl:rounded-none xl:border-none xl:p-0">          
        <div class="flex flex-col gap-4 rounded-xl border bg-card p-4 shadow-md transition-all duration-300 group-hover:shadow-lg xl:group-hover:shadow-none">
        <div class="flex flex-wrap gap-2">
          <span class="text-xs px-2 py-1 rounded-full bg-primary/10 text-primary font-medium">Actuellement en recherche </span>
          <span class="text-xs px-2 py-1 rounded-full bg-primary/10 text-primary font-medium">Disponible à Bordeaux</span> 
          <span class="text-xs px-2 py-1 rounded-full bg-primary/10 text-primary font-medium">Ouvert aux collaborations</span>
          </div>

          {aboutEntry.data.contact && (
            <>
              <hr class="my-2 border-t" />
              <div class="flex flex-col gap-2 text-sm text-muted-foreground">
                <h3 class="text-base font-semibold">Contact</h3>
                <ul class="list-disc pl-4">
                  {aboutEntry.data.contact.email && (
                    <li>
                      <a href={`mailto:${aboutEntry.data.contact.email}`} aria-label="Me contacter par email"  class="inline-block min-h-[32px] min-w-[32px] px-3 py-2 sm:min-h-[24px] sm:min-w-[24px] sm:px-2 sm:py-1">
                        Me contacter par mail
                      </a>
                    </li>
                  )}
                  {aboutEntry.data.contact.linkedin && (
                    <li>
                      <a href={aboutEntry.data.contact.linkedin} target="_blank" rel="noopener noreferrer" aria-label="Lien vers LinkedIn"  class="inline-block min-h-[32px] min-w-[32px] px-3 py-2 sm:min-h-[24px] sm:min-w-[24px] sm:px-2 sm:py-1">
                        LinkedIn
                      </a>
                    </li>
                  )}
                  {aboutEntry.data.contact.github && (
                    <li>
                      <a href={aboutEntry.data.contact.github} target="_blank" rel="noopener noreferrer" aria-label="Lien vers GitHub"  class="inline-block min-h-[32px] min-w-[32px] px-3 py-2 sm:min-h-[24px] sm:min-w-[24px] sm:px-2 sm:py-1">
                        GitHub
                      </a>
                    </li>
                  )}
                </ul>
              </div>
            </>
          )}
        </div>
        </div>
      </aside>
  </section>
</Layout>