---
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Skills from '@/components/react/skills'
import { buttonVariants } from '@/components/ui/button'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects, getRecentPosts } from '@/lib/data-utils'
import { SITE } from '@/consts'
import { Image } from 'astro:assets'
import YG from '../assets/YG-1.webp'
import ProjectsCards from '@/components/ProjectsCards.astro'

// const blog = await getRecentPosts(3);
const allProjects = await getAllProjects()
const latestProjects = allProjects.slice(0, 3);
const currentUrl = Astro.url;
---

<Layout canonicalUrl={currentUrl}>

  <!-- PAGE HEAD -->
  <PageHead slot="head" title="Junior Full Stack Developer" />
  <section class="flex flex-col gap-y-12 px-4 py-8 sm:px-8 lg:px-16">
    <div
      class="flex flex-col items-center text-center sm:flex-row sm:items-start sm:gap-8 sm:text-left"
    >
      <div class="relative overflow-hidden rounded-lg w-full px-0 sm:w-auto sm:overflow-hidden sm:rounded-lg sm:px-0">
        <Image
          src={YG}
          alt="Photo Yoann Guion"
          fetchpriority="high"
          loading="lazy"
          class="rounded-xl w-full h-115 sm:w-48 sm:h-64 object-cover shadow-lg"
        />
      </div>
      <div class="mt-8 sm:mt-0 sm:max-w-xl">
        <h1
          class="font-custom text-foreground text-start text-4xl font-extrabold sm:text-5xl"
        >
          {SITE.title}
        </h1>
        <div class="mt-4 flex items-center gap-2" aria-label="localité">
          <span
            class="bg-primary text-primary-foreground ring-primary/30 rounded-full px-3 py-1 text-sm font-medium ring-1"
          >
            Je viens de
          </span>
          <span class="flex items-center gap-1">
            <span class="text-foreground text-sm font-medium"> {SITE.location}</span>
            <svg width="800px" height="800px" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="h-6 w-6 transition-transform duration-500 hover:rotate-12" preserveAspectRatio="xMidYMid meet">
              <path fill="#ED2939" d="M36 27a4 4 0 0 1-4 4h-8V5h8a4 4 0 0 1 4 4v18z"></path>
              <path fill="#002495" d="M4 5a4 4 0 0 0-4 4v18a4 4 0 0 0 4 4h8V5H4z"></path>
              <path fill="#EEE" d="M12 5h12v26H12z"></path>
            </svg>
          </span>
        </div>
        <p class="text-md text-foreground mt-4 text-start font-sans" title="description" aria-label="description">
          {SITE.description}
        </p>
      </div>
    </div>

    <!-- SKILLS SECTION -->
    <section class="relative" aria-labelledby="titre-competences-technologies">
      <h2
        id="titre-competences-technologies"
        class="font-custom text-foreground text-2xl font-bold"
        title="Compétences et Technologies"
        aria-label="Compétences et Technologies"
        role="heading"
      >
        Compétences & Technologies
      </h2>
      <p class="text-muted-foreground text-sm" aria-label="Description des compétences et technologies">
        Voici un aperçu de mes compétences et des technologies que je maîtrise :
      </p>
      <div>
        <Skills client:load />
      </div>
    </section>

    <!-- PROJECTS SECTION -->
     <section class="flex flex-col gap-y-4" aria-labelledby="titre-mes-derniers-projets" role="region">
  <div class="relative" aria-labelledby="titre-mes-derniers-projets">
    <h2
      id="titre-mes-derniers-projets"
      class="font-custom text-foreground text-2xl font-bold"
      title="Mes derniers projets"
      aria-label="Mes derniers projets"
    >
      Mes derniers projets
    </h2>
    <p class="text-muted-foreground text-sm" aria-label="Description des derniers projets">
      Voici quelques-uns de mes derniers projets. Vous pouvez en trouver plus sur la <Link href="/projects" class="underline">page des projets</Link>.
    </p>
  </div>
  <ul class="flex flex-col gap-y-4">
    {
      latestProjects.map((project) => (
        <li>
          <ProjectsCards entry={project} />
        </li>
      ))
    }
  </ul>
  <div class="flex justify-center" aria-label="voir tous les projets">
    <Link
      href="/projects"
      class={buttonVariants({ variant: 'ghost' }) + ' group'}
    >
      Voir tous les projets
      <span class="ml-1.5 transition-transform group-hover:translate-x-1">&rarr;</span>
    </Link>
  </div>
</section>

    <!-- BLOG SECTION -->
    <!-- <section class="flex flex-col gap-y-4" aria-labelledby="latest-posts-title" role="region">
      <div class="relative" aria-labelledby="latest-posts-title">
        <h2
          id="latest-posts-title"
          class="font-custom text-foreground text-2xl font-bold"
          title="Derniers posts du blog"
          aria-label="Derniers posts du blog"
        >
          Derniers posts du blog
        </h2>
        <p class="text-muted-foreground text-sm" aria-label="description du blog">
          Voici quelques-uns de mes derniers posts de blog. Vous pouvez en trouver plus sur mon blog.
        </p>
      </div>
      <ul class="flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul> -->
      <!-- <div class="flex justify-center" aria-label="voir tous les posts">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          Voir tous les posts <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
    </section> -->
  </section>
</Layout>
