---
import { Image } from 'astro:assets'
import { Badge } from '@/components/ui/badge'
import { Hash } from 'lucide-react'
const { entry } = Astro.props
---

<div class="hover:bg-secondary/50 rounded-xl border p-4 transition-colors duration-300 ease-in-out">
  <a
    href={`/projects/${entry.id}`}
    class="flex flex-col gap-4 sm:flex-row"
    aria-label={`Lien vers le projet ${entry.data.name}`}
  >
    <div class="h-4 shrink-0 overflow-hidden rounded-md sm:h-28 sm:w-45">
      <Image
        src={entry.data.image}
        alt={entry.data.name}
        loading="lazy"
        width="644"
        sizes="(max-width: 768px) 100vw, 322px"
        class="h-full w-full object-cover"
      />
    </div>
    <div class="flex grow flex-col justify-between">
      <h3 class="text-foreground mb-1 text-lg font-medium">{entry.data.name}</h3>
      <p class="text-muted-foreground mb-2 line-clamp-3 text-sm">
        {entry.data.description || 'Description à venir...'}
      </p>
      {entry.data.tags &&
        <div class="flex flex-wrap gap-2">
          {entry.data.tags.slice(0, 4).map((tag: string, index: number) => (
            <Badge key={index} variant="secondary" className="flex items-center gap-x-1">
              <Hash size={12} />
              {tag}
            </Badge>
          ))}
          {entry.data.tags.length > 4 && (
            <Badge variant="secondary" className="flex items-center gap-x-1">
              +{entry.data.tags.length - 4}
            </Badge>
          )}
        </div>
      }
    </div>
  </a>
</div>
